# Logs
logs
*.log
npm-debug.log*


# Node modules
node_modules/

# Build output
dist/
dist-ssr/
*.local

# Vite cache
.vite/

# Testing
coverage/


# Editor directories and files
.vscode/
.cursor/


# Mac/Linux system files
.DS_Store
Thumbs.db

# Env files
.env
.env.*
!.env.example

